:root {
  /* Colours */
  --clr-bg: #fcfbfe;
  --clr-text: #040109;
  --clr-primary: #7155be;
  --clr-secondary: #eb7fe7;
  --clr-accent: #f85d49;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lora", serif;
  color: var(--clr-text);
}
